<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableWebSharing</key>
	<true/>
	<key>AutoWeighIn</key>
	<true/>
	<key>ScaleIncrement</key>
	<real>0.5</real>
	<key>EnergyUnit</key>
	<integer>1</integer>
	<key>WeightUnit</key>
	<integer>1</integer>
</dict>
</plist>
