<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpanLengths</key>
	<array>
		<integer>7</integer>
		<integer>14</integer>
		<integer>21</integer>
		<integer>30</integer>
		<integer>90</integer>
		<integer>182</integer>
		<integer>365</integer>
	</array>
	<key>SpanTitles</key>
	<array>
		<string>Past Week</string>
		<string>Past Two Weeks</string>
		<string>Past Three Weeks</string>
		<string>Past Month</string>
		<string>Past Quarter</string>
		<string>Past Six Months</string>
		<string>Past Year</string>
	</array>
</dict>
</plist>
