<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>EnergyUnit</string>
			<key>Title</key>
			<string>ENERGY_UNIT</string>
			<key>Titles</key>
			<array>
				<string>CALORIES</string>
				<string>KILOJOULES</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>WeightUnit</string>
			<key>Title</key>
			<string>WEIGHT_UNIT</string>
			<key>Titles</key>
			<array>
				<string>POUNDS</string>
				<string>KILOGRAMS</string>
				<string>STONES</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.1</real>
			<key>Key</key>
			<string>ScaleIncrement</string>
			<key>Title</key>
			<string>SCALE_INCREMENT</string>
			<key>Titles</key>
			<array>
				<string>1.0</string>
				<string>0.5</string>
				<string>0.2</string>
				<string>0.1</string>
				<string>0.05</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.2</real>
				<real>0.1</real>
				<real>0.05</real>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>AutoWeighIn</string>
			<key>Title</key>
			<string>AUTO_WEIGH_IN</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>DISPLAY</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>HighlightWeekends</string>
			<key>Title</key>
			<string>HIGHLIGHT_WEEKENDS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>HighlightBMIZones</string>
			<key>Title</key>
			<string>HIGHLIGHT_BMI_ZONES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>NETWORK</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MWSPublishNetService</string>
			<key>Title</key>
			<string>ENABLE_BONJOUR</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>APPL_NAME</string>
</dict>
</plist>
