body {
	text-align: center;
}

#container {
	max-width: 700px;
	margin: 0 auto;
	text-align: left;
}

h1 {
	font-family: sans-serif;
	border-bottom: 2px solid #c00;
}

h2 {
	font-family: sans-serif;
	border-bottom: 1px solid #c00;
}

form {
	margin-bottom: 12px;
}

#footer {
	border-top: 2px solid #c00;
}

#copyright {
	font-size: small;
}

a.selected {
	background-color: #fcc;
}

strong {
	background-color: #fcc;
}

.hint {
	color: #999;
}

td.importPreview {
	font-family: monospace;
}

input:disabled,
label.disabled {
	color: #999;
}

label.disabled span {
	opacity: 0.5;
}

label {
	position: relative;
}

#flagIcon0 { background-image: url(flag.png?0); }
#flagIcon1 { background-image: url(flag.png?1); }
#flagIcon2 { background-image: url(flag.png?2); }
#flagIcon3 { background-image: url(flag.png?3); }

#flagIcon0,
#flagIcon1,
#flagIcon2,
#flagIcon3 {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid black;
	width: 32px;
	height: 32px;
}
