<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/</key>
	<dict>
		<key>Name</key>
		<string>home</string>
		<key>Type</key>
		<string>html.gz</string>
		<key>Content-Type</key>
		<string>text/html</string>
	</dict>
	<key>/icon.png</key>
	<dict>
		<key>Name</key>
		<string>Icon</string>
		<key>Type</key>
		<string>_png</string>
		<key>Content-Type</key>
		<string>image/png</string>
	</dict>
	<key>/fatwatch.css</key>
	<dict>
		<key>Name</key>
		<string>fatwatch</string>
		<key>Type</key>
		<string>css.gz</string>
		<key>Content-Type</key>
		<string>text/css</string>
	</dict>
	<key>/jquery.js</key>
	<dict>
		<key>Name</key>
		<string>jquery</string>
		<key>Type</key>
		<string>js.gz</string>
		<key>Content-Type</key>
		<string>text/javascript</string>
	</dict>
	<key>/fatwatch.js</key>
	<dict>
		<key>Name</key>
		<string>fatwatch</string>
		<key>Type</key>
		<string>js.gz</string>
		<key>Content-Type</key>
		<string>text/javascript</string>
	</dict>
	<key>/robots.txt</key>
	<dict>
		<key>Name</key>
		<string>robots</string>
		<key>Type</key>
		<string>txt.gz</string>
		<key>Content-Type</key>
		<string>text/plain</string>
	</dict>
	<key>/favicon.ico</key>
	<dict>
		<key>Name</key>
		<string>favicon</string>
		<key>Type</key>
		<string>ico.gz</string>
		<key>Content-Type</key>
		<string>image/x-icon</string>
	</dict>
</dict>
</plist>
