<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/</key>
	<dict>
		<key>Name</key>
		<string>home</string>
		<key>Type</key>
		<string>html.gz</string>
		<key>Content-Type</key>
		<string>text/html; charset=utf-8</string>
	</dict>
	<key>/export</key>
	<dict>
		<key>Action</key>
		<string>handleExport:</string>
	</dict>
	<key>/fatwatch.css</key>
	<dict>
		<key>Name</key>
		<string>fatwatch</string>
		<key>Type</key>
		<string>css.gz</string>
		<key>Content-Type</key>
		<string>text/css; charset=utf-8</string>
	</dict>
	<key>/fatwatch.js</key>
	<dict>
		<key>Name</key>
		<string>fatwatch</string>
		<key>Type</key>
		<string>js.gz</string>
		<key>Content-Type</key>
		<string>text/javascript; charset=utf-8</string>
	</dict>
	<key>/favicon.ico</key>
	<dict>
		<key>Name</key>
		<string>favicon</string>
		<key>Type</key>
		<string>ico.gz</string>
		<key>Content-Type</key>
		<string>image/x-icon</string>
	</dict>
	<key>/icon.png</key>
	<dict>
		<key>Name</key>
		<string>Icon</string>
		<key>Type</key>
		<string>png</string>
		<key>Content-Type</key>
		<string>image/png</string>
	</dict>
	<key>/import</key>
	<dict>
		<key>Name</key>
		<string>import</string>
		<key>Type</key>
		<string>html.gz</string>
		<key>Content-Type</key>
		<string>text/html; charset=utf-8</string>
	</dict>
	<key>/import.js</key>
	<dict>
		<key>Action</key>
		<string>sendImportJavaScriptToConnection:</string>
	</dict>
	<key>/jquery.js</key>
	<dict>
		<key>Name</key>
		<string>jquery</string>
		<key>Type</key>
		<string>js.gz</string>
		<key>Content-Type</key>
		<string>text/javascript; charset=utf-8</string>
	</dict>
	<key>/process</key>
	<dict>
		<key>Action</key>
		<string>processImport:</string>
	</dict>
	<key>/robots.txt</key>
	<dict>
		<key>Name</key>
		<string>robots</string>
		<key>Type</key>
		<string>txt.gz</string>
		<key>Content-Type</key>
		<string>text/plain; charset=utf-8</string>
	</dict>
	<key>/upload</key>
	<dict>
		<key>Action</key>
		<string>receiveUpload:</string>
	</dict>
	<key>/values.js</key>
	<dict>
		<key>Action</key>
		<string>sendValuesJavaScriptToConnection:</string>
	</dict>
	<key>/flag.png</key>
	<dict>
		<key>Action</key>
		<string>sendFlagImage:</string>
	</dict>
	<key>/browser-detect.js</key>
	<dict>
		<key>Name</key>
		<string>browser-detect</string>
		<key>Type</key>
		<string>js.gz</string>
		<key>Content-Type</key>
		<string>text/javascript; charset=utf-8</string>
	</dict>
</dict>
</plist>
